{erl_opts, [debug_info]}.
{deps, [
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [cer3bro]}
]}.

{alias, [
    {f, [{fmt, "--write"}]},
    {test, [f, compile, dialyzer, eunit, ct]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE.md", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/SirWerto/cer3bro"},
    {source_url, "https://github.com/SirWerto/cer3bro"},
    {assets, "assets"},
    {api_reference, false}
]}.

{project_plugins, [
    rebar3_ex_doc,
    erlfmt,
    {eqwalizer_rebar3,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_rebar3"}}
]}.
